///////////////////////////////
// EDITABLE SIMPLITT STYLE VARS

@bodyBackground: #eee;
@textColor: #1a1a1a;
@fontFamily: Helvetica,Arial,sans-serif;
@fontSize: 12px;
@lineHeight: 18px;

@sectionTitColor: #bbb;

@linkColor: #00aad4;
@linkColorHover: #f00;

@siteColumns1200: 4; // numbers of columns for a 1200px screen
@siteColumns960: 4; // numbers of columns for a 960px screen
@siteColumns768: 3; // numbers of columns for a 768px screen
@columnMargin: @lineHeight / 2;

@sidebarColumns: 1;
@sidebarBoxBackground: #fff;
@sidebarBoxFontColor: @textColor;

@mosaicBoxBackground: #fff;
@mosaicBoxFontColor: @textColor;

@featuredBackground: gainsboro;

// end EDITABLE SIMPLITT STYLE VARS
///////////////////////////////////


///////////////////////////////////
// BUILD CSS FOR EACH @MEDIA QUERY

.buildCSS (@minWidth;@maxWidth;@siteWidth;@siteColumns) {

	@columnWidth: @siteWidth / @siteColumns - @columnMargin * 2;
	@sidebarWidth: ( @columnWidth + @columnMargin * 2 ) * @sidebarColumns;
	@contentWidth: @siteWidth - @sidebarWidth;

	@media (min-width: @minWidth) and (max-width: @maxWidth) {

		figure { margin: 0; }
		body {
			background-color: @bodyBackground;
			color: @textColor;
			font-family: @fontFamily;
			font-size: @fontSize;
			line-height: @lineHeight;
			width: @siteWidth;
			margin: @lineHeight auto;
		}
		a:link,
		a:visited {
			color: @linkColor;
		}
		a:hover {
			color: @linkColorHover;
			text-decoration: none;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size: @fontSize;
			line-height: @lineHeight;
			margin: 0;
			padding: 0;
		}
		
		
		.box {
			float: left;
			width: @columnWidth;
			margin: @columnMargin;
		
			.box-text {
				padding: @columnMargin / 2 @columnMargin;
			}
			.box-footer {
				margin: 0;
				padding: @columnMargin / 2 @columnMargin @columnMargin / 2 0;
				border-top: 1px solid @bodyBackground;
		
				li {
					list-style: none;
					margin-left: @columnMargin;
				}
				a {
					text-decoration: none;
				}
			}
		}
			
		#pre {
			width: @sidebarWidth;
			float: left;
		
			.box {
				background-color: @sidebarBoxBackground;
				color: @sidebarBoxFontColor;
		
				img {
					width: @columnWidth - @columnMargin * 2;
					padding: @columnMargin;
				}
				.box-footer li {
					display: block;
				}
			}
			.menutotop {
				position: fixed;
				top: 10px;
				z-index: 10;
			}
		}
		#content {
			width: @contentWidth;
			float: left;
		
			.section {
				float: left;
				width: @contentWidth;
				clear: right;
				margin-bottom: @lineHeight / 2;
				padding-bottom: @lineHeight * 4;
		
				.section-tit {
					/*width: 0;
					height: 0;
					width: @columnWidth;*/
					margin: @columnMargin @columnMargin 0;
					h2 {
						/*text-indent: -9999px;*/
						font-weight: normal;
						text-transform: uppercase;
						color: @sectionTitColor;
					}
				}
				.box {
					background-color: @mosaicBoxBackground;
					color: @mosaicBoxFontColor;
		
					img {
						width: @columnWidth;
					}
					.box-footer li {
						display: inline-block;
					}
				}
				.featured {
					background-color: @featuredBackground;
				}
			}

			.article {
				float: left;
				width: @contentWidth;
				margin: @lineHeight / 2;

				.article-tit {
					font-size: @fontSize * 2;
					line-height: @lineHeight * 1.5;
					font-weight: normal;
				}
				.article-meta {
					margin: @lineHeight 0 0 0;
					padding: 0;
		
					li {
						list-style: none;
						display: inline-block;
						margin-right: @columnMargin;
					}
				}

			}
		}

	} /* end @media */

}

// BUILD CSS FOR EACH @MEDIA QUERY
///////////////////////////////////


///////////////////////////////////
// CALL buildCSS() FOR EACH @MEDIA

.buildCSS(1200px,9999px,1200px,@siteColumns1200);
.buildCSS(960px,1199px,960px,@siteColumns960);
.buildCSS(768px,959px,768px,@siteColumns768);
.buildCSS(1px,767px,480px,2);
